 .u-section-1 {
  background-image: url("../img/fon.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 447px;
}

.u-section-1 .u-table-1 {
  margin-bottom: 43px;
  margin-top: 43px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-7 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-9 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-12 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-21 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-22 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-23 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-24 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-27 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-28 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-29 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-30 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-block-be7b-21 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }
}