.u-section-1 .u-sheet-1 {
  min-height: 620px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 600px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 505px;
  height: 317px;
  margin: 29px auto 0;
}

.u-section-1 .u-form-1 {
  height: 154px;
  width: 570px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 12px 15px 0;
}

.u-section-1 .u-shape-1 {
  width: 257px;
  height: 161px;
  transition-duration: 0.5s;
  margin: -266px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 257px;
  height: 161px;
  transition-duration: 0.5s;
  margin: -161px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 793px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 56px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

.u-section-1 .u-shape-1,
.u-section-1 .u-shape-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-shape-2,
.u-section-1 .u-shape-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}